@import '_sunny';
body { padding-bottom: 70px;}

.logo-wrapper {
  width: 300px;
  margin: 0 auto;
}

footer {
  background-color: white !important;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dayOfWeather {
  border: 2px solid #000;
  padding: 20px;
}


#zipcode {
  padding: 20px;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.form-error {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-weight: bolder;
  font-size: .8em;
}
