<div class='container'>
<div class='row'>
  <div class='col-sm-12 dayOfWeather'>
    <div class='row vertical-center'>
      <div class='col-sm-4 text-center'>
        <h1> Today </h1>
        <p> {{weather.today.date}} </p>
      </div>
      <div class='col-sm-4 center-block text-center'>
        <h5> {{weather.currentLocation}} </h5>
        <img src={{weather.icon}} />
        <br>
        <p> Feels like {{weather.feelsLikeF}} &#8457;</p>
      </div>
      <div class='col-sm-4 center-block text-center'>
        <h4>{{weather.temperatureF}} &#8457; </h4>
        <p> {{weather.type}}</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 dayOfWeather">
    <div class='row vertical-center'>
      <div class='col-sm-6 center-block text-center'>
        <img src={{weather.tomorrow.icon}} />
        <h4 class='text-center'> {{weather.tomorrow.dayName}}</h4>
      </div>
      <div class='col-sm-6 center-block text-center'>
          <h4>Low: {{weather.tomorrow.lowF}} &#8457; </h4>
          <h4>High: {{weather.tomorrow.highF}} &#8457;</h4>
          <p> {{weather.tomorrow.conditions}} </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 dayOfWeather">
    <div class='row vertical-center'>
      <div class='col-sm-6 center-block text-center'>
        <img src={{weather.day2.icon}} />
        <h4 class='text-center'> {{weather.day2.dayName}}</h4>
      </div>
      <div class='col-sm-6 center-block text-center'>
          <h4>Low: {{weather.day2.lowF}} &#8457; </h4>
          <h4>High: {{weather.day2.highF}} &#8457;</h4>
          <p> {{weather.day2.conditions}} </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 dayOfWeather">
    <div class='row vertical-center'>
      <div class='col-sm-6 center-block text-center'>
        <img src={{weather.day3.icon}} />
        <h4 class='text-center'> {{weather.day3.dayName}}</h4>
      </div>
      <div class='col-sm-6 center-block text-center'>
          <h4>Low: {{weather.day3.lowF}} &#8457; </h4>
          <h4>High: {{weather.day3.highF}} &#8457;</h4>
          <p> {{weather.day3.conditions}} </p>
      </div>
    </div>
  </div>


  <div id='zipcode' class="col-sm-12 text-center center-block">
      Zip Code: <input ng-model='weather.zipcode'/> <button ng-click='weather.changeLocation()'> Change </button>
  </div>

</div>
